<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mybook.mohamed.mybook">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/book24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DetailesActivity"
            android:label="@string/detailes_activity" />
        <activity
            android:name=".Activities.UpdateActivity"
            android:label="@string/update_activity" />
        />
        <activity
            android:name=".Activities.AddActivity"
            android:label="@string/add_activity" />
        <activity android:name=".Activities.TempActivity" />
    </application>

</manifest>